{# empty Twig template #}
<!doctype html>
<html>
<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('js/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('js/style.css') }}">
        <script src="{{ asset('js/script.js') }}"></script>
        <script src="{{ asset('js/jquery.min.js') }}"></script>
    {% endblock %}
    <meta charset="utf-8" />
    <title>Billeterie du Louvre</title> 
 
</head>

<body>
    {% block head %}
        <div class="container col-md-12">
            <div class='row'>
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <img src='Louvre-logo.jpg' class='col-md-2' />
                        <h1 class="navbar-brand col-md-10" href="accueil.html.twig">Billeterie du Louvre</h1>
                    </div>         
                </nav>
            </div>
        </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
<footer>
    {% block footer %}
        <p class="col-md-12">Copyright &copy;2018 - <small>Alison MELE</small></p>
        <a href="" class="col-md-12">Mentions légales</a>
    {% endblock %}
</footer>
</body>

</html>
