/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 mars 2018, 19:26:46
    Author     : Alison
*/
html, body {
 margin: 0;
 padding: 0;
 }
body {
 background-color: rbga(245, 245, 245, 0); 
 font-family: sans-serif; 
 font-size: 100%;
 }
h1 {
 font-size: 200%; 
 color: navy; 
 text-align: center;
 }
h2 {
 font-size: 150%; 
 color: navy; 
 padding-left: 15px;
 }
p,ul,li,td {
 color: black; 
 }
a:link {
 color: navy;
 text-decoration: underline;
 }
a:visited {
 color: navy;
 }
a:hover {
 color: navy;
 text-decoration: none;
}
a:active, a:focus {
 color: navy;
}

